<div id="ehb-header-mobile" class="uk-hidden@s"
  uk-sticky="animation: uk-animation-slide-top; show-on-up: true">
  <div id="ehb-menu-icon" class="ehb-menu-icon">
    <i class="mdi mdi-menu mdi-24px"></i>
  </div>
</div>
