<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel='stylesheet' href='/assets/style/sanitize.css' />
  <link rel='stylesheet' href='/assets/uikit/uikit.min.css' />
  <link rel='stylesheet' href='/assets/mdi/css/materialdesignicons.min.css' />
  <script charset="utf-8" defer src="/assets/jquery/jquery.min.js"></script>
  <script charset="utf-8" defer src="/assets/uikit/uikit.min.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
