<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel='stylesheet' href='/assets/style/sanitize.css' />
  <link rel='stylesheet' href='/assets/uikit/css/uikit.min.css' />
  <link rel='stylesheet' href='/assets/mdi/css/materialdesignicons.min.css' />
  <link rel='stylesheet' href='/static/style/theme.css' />
  <link rel='stylesheet' href='/stylesheets/layout.css' />
  <script charset="utf-8" defer src="/assets/jquery/jquery.min.js"></script>
  <script charset="utf-8" defer src="/assets/uikit/js/uikit.min.js"></script>
  <script charset="utf-8" defer src="/javascripts/layout.js"></script>
</head>
<body>
  {{> header}}
  {{> sidebar}}
  <div class="main" role="main">
    <div id="ehb-spacer" class="uk-visible@s"></div>
    <div id="ehb-container">{{{body}}}</div>
  </div>
  {{> footer}}
</body>
</html>
