<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/style/sanitize.css' />
    <link rel='stylesheet' href='/assets/uikit/css/uikit.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script charset="utf-8" defer src="/assets/jquery/jquery.min.js"></script>
    <script charset="utf-8" defer src="/assets/uikit/uikit.min.js"></script>
  </head>
  <body>
    <header></header>
    <nav></nav>
    {{{body}}}
    <footer></footer>
  </body>
</html>
